


<div class= 'header' >
<!--
<img src="/assets/tree_branch_detailed2_green_crop.png" id="green_tree_header" />
<img src="/assets/tree_branch_detailed2_pink.png" id="pink_tree_header" />
<img src="/assets/tree_branch_detailed2.png" id="white_tree_header" />
-->
<h3 id="ryan_flynn_header"><%= link_to "Ryan <br> Flynn".html_safe, root_url %></h3>
<h4 id="ryan_flynn_qoute_header"> Web Developer & <br>Programmer</h4>

<div class= "toolbar">

	<ul>
		<li><%= link_to "Home".html_safe, root_url %></li>
		<li><%= link_to "Bio".html_safe, bio_path %></li>
		<li><%= link_to "Ruby/Rails".html_safe, rails_path %></li>
		<li><%= link_to "HTML5/CSS3".html_safe, html_path %></li>
		<li><%= link_to "Javscript/Query".html_safe, javascript_path %></li>
		<li><%= link_to "Extra".html_safe, extra_path %></li>
		<li><%= link_to "Contact".html_safe, contact_path %></li>
	</ul>

</div>
	
</div>
